---
layout: default
---
{% include profile-banner.html %}
<div class="posts container">
    {% for post in site.posts %}
    <article class="post">
        <div class="post__image-container">
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}"/></a>
        </div>
        <div class="post__teaser-container">
            <h2>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>

            <div class="entry">
                {{ post.content | strip_html | truncatewords: 25 }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>
    </article>
    {% endfor %}
</div>
