.wrapper-footer {
  min-height: 4rem;
  margin-top: 50px;
  border-top: 1px solid darken($gray, 15%);
  border-bottom: 1px solid darken($gray, 15%);
  background-color: rgba($gray, 0.95);
  width: 100%;
  bottom: 0;
  left: 0;
}

footer {
  padding: 0.2rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding-top: 1.2rem;
  font-size: 0.9rem;
}

@include mobile {
  footer {
    justify-content: space-around;
  }
}