.wrapper-masthead {
  background: $primary;
  box-shadow: 0 2px 4px rgba($primary,.2), 0 4px 12px rgba($primary,.2);
  position: relative;
  
  * {
    color: $white;
  }

  a:hover {
    color: darken($white, 20%);
  }
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.masthead {
  padding: 15px 0;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  @include mobile {
    width: 100%;
  }

  img {
    margin:0;
    margin-right:0.5rem;
    height: 5rem;
    box-shadow: none;
  }
}

.site-name {
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.site-nav {
  display: flex;
  justify-content: center;
  
  @include mobile {
    width: 100%;
  }
}

nav {
  font-family: $helveticaNeue;
  font-size: 18px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    min-height: 3rem;
    font-size: 1rem;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
