.post {

    blockquote {
        margin: 1.8em 0.8em;
        border-left: 1px solid $primary;
        padding: 0.1em 1em;
        color: $primary;
        font-size: 22px;
        font-style: italic;
    }

    .comments {
        margin-top: 10px;
    }

    .read-more {
        text-transform: uppercase;
        font-size: 15px;
    }
}

.posts > .post {
    margin-bottom: 20px;
    border: 1px solid $lightGray;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

    @media only screen and (min-width: 768px) {
        width: 48.7%;
        &:first-child {
            width: 100%;
        }
        &:nth-child(2n) {
            margin-right: 20px;
        }
    }
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post__image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin: 0;
        box-shadow: none;
        max-height: 100%;
        max-width: 100%;
    }
}

.post__teaser-container {
    height: 100%;
    padding: 25px;
    background: $offWhite;
    border-top: 3px solid $primary;

    h2 {
        margin-top: 0.5em;
    }

    .entry {
        margin-bottom: 1em;
    }

    a {
        padding: 1em 0;
    }
}

@media only screen and (max-width: 768px)  {
    .posts > .post {
        width: 100%;
    }
}