.profile-banner {
  height: 18rem;
  background-color: $secondary;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @include mobile {
    height: auto;
  }
}

.profile-banner__content {
  display: flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
    margin: 3rem 0;
  }
}

.profile-banner__blurb {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.profile-banner__contact {
  min-width: 10rem;
}

.profile-banner__avatar {
  height: 8rem;
  width: 8rem;
  min-width: 8rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    margin: 0;
  }
}