button, .btn {
  display: block;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;

  color: white;	
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
				      0 2px 0 -1px rgba(0,0,0,0.13), 
				      0 3px 0 -1px rgba(0,0,0,0.08), 
				      0 3px 13px -1px rgba(0,0,0,0.21);
}

button:active .btn:active {
	top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
}

button:hover, .btn:hover {
  cursor: pointer;
  color: darken($white, 20%);
}

.btn-primary {
  border: 1px solid $primary;
  color: $white;
  background: $primary;
}