img {
  margin: 30px auto 45px;
  max-width: 100%;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

  &.header-image {
      max-width: 100%;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

figure {

  figcaption {
    text-align: center;
  }

  img {
    margin: auto;
    margin-bottom: 12px;
  }

  margin: 30px auto 45px;
}
