---
layout: default
---

<article class="post container">  
  <meta name="og:title" content="{{ page.title }}"></meta>
  <meta name="og:type" content="article"></meta>
  <meta name="og:image" content="{{ site.url }}{{ page.image }}"></meta>
  <meta name="twitter:card" content="summary"></meta>
  <meta name="twitter:site" content="@William62989371" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
  <h1>{{ page.title }}</h1>
  <img class="header-image" src="{{ page.image }}"/>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
